@model BookStore.Application.ViewModel.BookEditViewModel

@{
    ViewData["Title"] = "Edit";
    var photoPath = @Model.ExistingImageUrl ?? "~/images/noimage.png";
}

<style>

    .img-thumbnail {
        opacity: 1;
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
    }

        .img-thumbnail:hover {
            opacity: 0.5;
        }

    .cover-wrapper {
        position: relative;
        display: inline-block;
    }

    .remove-icon {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }
</style>

<div class="container">
    <h3 class="display-4">Add new book</h3>
    <hr />
    @if (ViewBag.IsSuccess == true)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Congratulations</strong> You have added new book successfully. <br />
            Click <a asp-controller="Book" asp-action="GetBook" asp-route-id="@ViewBag.BookId">here</a> to view the details
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Id" hidden />

    <input type="hidden" asp-for="ExistingImageUrl" />
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Author" class="control-label"></label>
        <input asp-for="Author" class="form-control" />
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Genre" class="control-label"></label>
        <input asp-for="Genre" class="form-control" />
        <span asp-validation-for="Genre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Language" class="control-label"></label>
        <input asp-for="Language" class="form-control" />
        <span asp-validation-for="Language" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TotalPages" class="control-label"></label>
        <input asp-for="TotalPages" class="form-control" />
        <span asp-validation-for="TotalPages" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BookCount" class="control-label"></label>
        <input asp-for="BookCount" class="form-control" readonly="readonly" />
        <span asp-validation-for="BookCount" class="text-danger"></span>
    </div>

    <div class="form-group" id="cover-photo-upload">
        <label asp-for="CoverPhoto" class="control-label"></label>
        <div class="custom-file">
            <input asp-for="CoverPhoto" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
        <span asp-validation-for="CoverPhoto" class="text-danger"></span>
    </div>
    <div class="form-group" id="cover-img">
        <div class="col-lg-4 col-3">
            <div class="cover-wrapper">
                <img id="bookCoverPic" src="@Url.Content("/" + photoPath)" alt="@Model.Title" class="img-thumbnail img-fluid">
                <span class="remove-icon">X</span>
            </div>
        </div>
    </div>
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="text-danger">Errors summary:</div>
    }
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-row">
        <a asp-controller="Book" asp-action="Index" class="btn btn-secondary mr-1">Back to index</a>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
</div>

@section Scripts {
    <script src="~/js/displayFormFileName.js"></script>
}
