@model BookStore.Application.Common.Model.PaginatedList<BookApproveListViewModel>

<style>
    .expire {
        background-color: red
    }
</style>

<style>
    .expire {
        background-color: red
    }
</style>

<div class="card">
    <div class="card-header bg-success text-white">
        Approved book
    </div>
    <div class="card-body">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Author</th>
                    <td>Title</td>
                    <td>Expire Date</td>
                </tr>
            </thead>
            <tbody>
                @if (Model.Items.Count > 0)
                {
                    @foreach (var item in Model.Items)
                    {
                        var isExpire = "no-expire";

                        if (item.DueDate < DateTime.Now)
                        {
                            isExpire = "expire text-white";
                        }
                        <tr class="@isExpire">
                            <th scope="row">@item.Author</th>
                            <td>@item.Title</td>
                            <td>@item.DueDate.Date.ToShortDateString()</td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="no-data">
                        <td colspan="3"> No Records To Display</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>

</div>


